<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="software.xmclass.Software_engineering._course.mapper.OrderMapper">
    <!--保存订单-->
    <insert id="save" useGeneratedKeys="true" keyColumn="OrderID" keyProperty="OrderID">
        INSERT INTO `order` (`PracticalUserID`, `OrdinaryUserID`, `OrderTime`, `Price`, `PayState`,
         `OrderState`, `OTime`)
        VALUES
        (#{PracticalUserID,jdbcType=INTEGER},#{OrdinaryUserID,jdbcType=INTEGER},#{OrderTime,jdbcType=TIMESTAMP},#{Price,jdbcType=FLOAT},
        #{PayState,jdbcType=INTEGER},#{OrderState,jdbcType=INTEGER},#{OTime});

    </insert>

    <!--根据用户id获取订单信息-->
    <select id="OList" resultType="OgetOrder">
        select OrderID, PracticalUserID, OTime, OrderState, PayState from `order` where OrdinaryUserID = #{id}
    </select>
    <!--根据用户id获取订单信息-->
    <select id="PList" resultType="PgetOrder">
        select OrderID, OrdinaryUserID, OTime, OrderState, PayState from `order` where PracticalUserID = #{id}
    </select>

    <!--根据订单号获取具体信息-->
    <select id="getOrder" resultType="OrderModel">
        select * from `order` where OrderID = #{id}
    </select>

    <!--修改订单-->
    <update id="changeOrderState" >
        update `order` set OrderState = #{State} where OrderID=#{id};
    </update>

<!--删除订单-->
    <delete id="delOrder" parameterType="integer" >
        delete from `order` where OrderID=#{id};
    </delete>

</mapper>