<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="software.xmclass.Software_engineering._course.mapper.PracticalUserMapper">
    <!--根据ID查询用户信息-->
    <select id="findByID" resultType="PracticalUserModel">
        select  * from practicaluser where PracticalUserID = #{PracticalUserID}
    </select>
    <select id="getName" resultType="String">
        select  UserName from practicaluser where PracticalUserID = #{PracticalUserID}
    </select>

    <!--获取未审核-->
    <select id="GetUPracticalUser" resultType="PracticalUserModel">
        select  * from practicaluser where InfoState = #{state}
    </select>
<!--审核-->
    <update id="CheckPracticalUser" parameterType="int" >
        update practicaluser set InfoState=#{state} where PracticalUserID=#{id};
    </update>

    <!--获取已审核-->
    <select id="getList" resultType="PracticalUserSingle">
        select   PracticalUserID, UserName, OridinaryUserID, Summary from practicaluser where InfoState = #{state}
    </select>



</mapper>